{% extends "base.twig" %}
{% block title %} Inicio {% endblock %}
{% block head %}{{parent()}}
<link rel="stylesheet" type="text/css" href="./css/inicio.css?id={{random()}}"> 
{% set img = random(5)  %}
<style type="text/css">
	
</style>
{% endblock %}
{% block content %}
	{% include 'includes/header.twig' %}
	{% include 'includes/slider.twig' %}
	<section id="general">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9">
					<div class="cont-publicaciones">
						{# <h3 class="negrita" style="text-align: center;color: rgb(0, 54, 112);">¡¡ Vigilemos el Cuidado del Agua !!</h3> #}
						<hr>
						<!-- <h4>Jumbotron</h4> -->
{# 						<img src="public/resources/images/casa.jpg" alt="">
						<p>Vigilamos el cuidado del agua en nuestras casas</p>
						<p>Vigilamos el cuidado del agua en las calles de nuestra ciudad</p>
						<p>Vigilamos la calidad del agua que consumimos</p>
						<p>Difundimos la Cultura del Agua</p>
						<p>Capacitamos a niños y jóvenes en el cuidado del agua</p>
						<p>Realizamos campañas sobre el consumo racional del agua y evitar su desperdicio</p> #}
					</div>
								<div class="noticias">
				<h3 class="negrita" style="text-align: center;color: rgb(0, 54, 112);">¡¡ Vigilemos el Cuidado del Agua !!</h3>
				<hr>
				<div class="alert  alert-warning alert-msg">
				  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
				  <div class="col-md-3 col-xs-12">
				  	<img style="background-color: white;border-radius: 50%;" src="{{IMAGE}}club-logo.png" alt="">
				  </div>
				  <div class="col-md-9 col-xs-12" style="text-align: center;">
				  <br><br>
				  	 <h4>Vigilamos el cuidado del agua en nuestras casas</h4>
				  </div>
				  <div class="clear" style="clear:both;"></div>	
				</div>
				
				
				<div class="alert  alert-success">
					  <div class="col-md-9 col-xs-12" style="text-align: center;">
					  <br><br>
					  	 <h4>Convocamos a niños y jóvenes para la formación del Club Vigilantes del agua</h4>
					  </div>
					  <div class="col-md-3 col-xs-12">
					  	<img style="background-color: white;border-radius: 50%;" src="<?=IMAGE?>convocados.jpg" alt="">
					</div>
					  <div class="clear" style="clear:both;"></div>					  
				</div>

				
				<div class="alert  alert-danger">
					<div class="msg-image col-md-3 col-xs-12">
					  	<img style="background-color: white;border-radius: 50%;" src="<?=IMAGE?>promover.jpg" alt="">
					</div>
					<div class="col-md-9 col-xs-12" style="text-align: center;">
					<br><br>
					 	<h4>Promovemos la participación de los niños y jóvenes en la Cultura del agua</h4>
					</div>
					<div class="clear" style="clear:both;"></div>					  
				</div>	

				<div class="alert  alert-info">
					<div class="col-md-9 col-xs-12" style="text-align: center;">
					<br><br>
					 	<h4>Establecemos hábitos de consumo orientados al no desperdicio del agua</h4>
					</div>
					<div class="msg-image col-md-3 col-xs-12">
					  	<img style="background-color: white;border-radius: 50%;" src="<?=IMAGE?>habitos.jpg" alt="">
					</div>
					<div class="clear" style="clear:both;"></div>					  
				</div>	

				<div class="alert  alert-warning">
					<div class="msg-image col-md-3 col-xs-12">
					  	<img style="background-color: white;border-radius: 50%;" src="<?=IMAGE?>sensibilizar.jpg" alt="">
					</div>
					<div class="col-md-9 col-xs-12" style="text-align: center;">
					<br><br>
					 	<h4>Establecemos hábitos de consumo orientados al no desperdicio del agua</h4>
					</div>
					<div class="clear" style="clear:both;"></div>					  
				</div>	
			</div>
				</div>
				<div class="col-md-3" style="padding-top:84px;">
					{% include 'includes/widget.twig' %} 
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block postfooter %}
{% endblock %}


