{% extends "base.twig" %}
{% block title %} Inicio {% endblock %}
{% block head %}{{parent()}}
<link rel="stylesheet" type="text/css" href="./css/inicio.css?id={{random()}}"> 
{% set img = random(5)  %}
<style type="text/css">
	
</style>
{% endblock %}
{% block content %}
	{% include 'includes/header.twig' %}
	{% include 'includes/slider.twig' %}
	<section id="general">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9">
					<div class="cont-publicaciones">
						<h3 class="text-info ml-3 mt-2 mb-4">ÚNETE</h3>
						{# ROW #}
						<div class="jumbotron">
							<div class="noticias">
								<h3 class="negrita" style="text-align: center;color: rgb(0, 54, 112);">¿COMO PERTENECER AL CLUB VIGILANTES DEL AGUA?</h3>
								<br>
								<h4>REQUISITOS</h4>
								<li>Tener entre 12 a 28 años de edad </li>
								<li>Menores de 18 años, con autorización de padre o tutor</li>
								<li>Llenar la solicitud de inscripción</li>
								<p style="text-align: center;"><img style="background-color: white;border-radius: 50%;text-align: center;" src="<?=IMAGE?>convocados.jpg" alt=""></p>
								 <div class="form-group">
							       <div class="col-md-12" style="text-align: center;">
							              <!-- <button type="reset" class="btn btn-primary">Cancel</button> -->
							     	<a id="btnenviar" type="submit" class="btn btn-success"><i class="fa fa-paper-plane"></i> Inscribete aquí</a>
							        </div>
							    </div>
							    <div class="clear" style="clear:both;padding-bottom: 20px;"></div>
							</div>
						</div>
						{# END ROW #}
					</div>
				</div>

				<div class="col-md-3" style="padding-top:84px;">
					{% include 'includes/widget.twig' %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block postfooter %}
{% endblock %}


