@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';
@import 'https://fonts.googleapis.com/css?family=Asap';
@import 'https://fonts.googleapis.com/css?family=Baloo+Chettan';
@import 'https://fonts.googleapis.com/css?family=Anton&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Arima+Madurai';
@import 'https://fonts.googleapis.com/css?family=Hammersmith+One';
@import 'https://fonts.googleapis.com/css?family=Russo+One';
@import 'https://fonts.googleapis.com/css?family=Passion+One';
@import url('./animaciones.css');
/* VARIABLES */

:root {
    --color-main     : rgb(79, 130, 186);
    --letras         : rgb(255, 255, 255);
    --card-principal : rgb(41, 43, 44);
    --sizeP          : .8rem;
    --color_prueba   :black;
    --color_ancaor   :rgb(255, 49, 49);
    --color_fentap1  :rgb(221, 84, 63);
    --color_fentap2  :rgb(31, 98, 147);
    --color_fentap3  :rgb(0, 88, 110);
    --color_fentap   :rgb(26, 57, 132);
    --letras         :rgb(255, 255, 255);
    --card-principal : rgb(41, 43, 44);
    
    --fs-18          : 1.8rem;
    --fs-16          : 1.6rem;
    --fs-14          : 1.4rem;
    --fs-12          : 1.2rem;
    --s-title        : 1.0rem;
    --s-sub-title    : .8rem;
    --s-parrafo      : .7rem;
}

/* FIN - VARIABLES */
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


*, *::before, *::after, *:before, *:after {
  /*para no tener problemas con el borde*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
======== PRINCIPALES =========
*/
html {
    height: 100%;
}

body {
    height: 100%;
     font-family: 'Ubuntu';
} 

.c-red {
    color: red;
}

.c-white {
    color: white;
}

.c-black {
    color: black;
}
.space > hr {
    width: 50%;
    border: 0; 
    height: 12px; 
    box-shadow: inset 0 12px 12px -12px white;
}

.separador > hr {
    border: 0; 
    height: 0; 
    border-top: 4px solid rgb(20, 27, 37);
    text-align:center;width: 80%;
}
.separador > hr:after {
    position: relative;
    /*25cf => circle*/
    /*top: -22px; content:"\25bc\25b2"; */
    font-size: 34px;line-height: 34px; 
    color: rgb(20, 27, 37);
 }


a{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}


/*
======== FIN-PRINCIPALES =========
*/

/*
======== FIXED =========
*/
.bg-main {
    background-color: var(--color-main) !important;
}

.fonty{
    border-radius: 50%;
    padding: 2px;
    color: var(--color-main) !important;
    text-transform: none;
    font-size: 1.01rem !important; 
    background-color: white !important;
    font-weight: 200 !important;
}
.fixed {
    top:0;
    /*background-color: rgb(70, 111, 160);*/
    background-color: rgb(0,0,0);
    padding: 0px 0 12px 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    box-shadow: 0 1px 1px 0px rgba(1, 1, 1,1);
}
.fixed > ul {
    margin-top: 0;
}
.fixed > ul > li > a {
    font-weight: 200;
    color: white;
}
.fixed > .inicio-nav{
    background: rgb(0,0,0);
    height: 50px;
    padding-top: 10px;
}
@media (max-width: 720px) {
    .fixed > .inicio-nav{
        background: rgb(0,0,0);
        height: 30px;
        padding-top: 0px;
    }  
}
.fixed > .li-ancaor{
    padding:6px;
}
/*
======== FIN  - FIXED ========= */

.swiper-container {
    /*background-color: #000000;*/
    background-image: url('https://cdn.dribbble.com/users/225707/screenshots/2958729/jelly-fluid-loader.gif'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 310px;
}
/*.swiper-slide {
  background-position: center;
  background-size: cover;
}*/

/*
======== CABECERA =========
*/
/*#inicio {
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/
ul > li {
    color: rgb(25, 55, 131);
    font-weight: bolder;
}
#general {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f82ba+0,1e5799+0,dee2e5+100&0.69+0,1+100 */
background: -moz-linear-gradient(top, rgba(30,87,153,0.69) 0%, rgba(222,226,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,0.69) 0%,rgba(222,226,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,0.69) 0%,rgba(222,226,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b01e5799', endColorstr='#dee2e5',GradientType=0 ); /* IE6-9 */
    padding-bottom: 50px;
}

.notice-image > .notice-image-body > p {
    position: absolute;
    top: 0;
}
.notice-image > .notice-image-body::after {
    margin-top: 20px;
    position: absolute;
    content: '\f4c5';
    top: 0;
}
.cabecera-publish {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.text-info {
    font-size: var(--fs-14);
    color: white !important;
    font-weight: bolder;
}

.head_vigilantes {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(104, 184, 209,1);
}

@media (min-width: 720px) {
    .head_vigilantes {
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(104, 184, 209,1) 34%, rgba(104, 184, 209,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(34%, rgba(255,255,255,1)), color-stop(34%, rgba(104, 184, 209,1)), color-stop(100%, rgba(104, 184, 209,1)));
        background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(104, 184, 209,1) 34%, rgba(104, 184, 209,1) 100%);
        background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(104, 184, 209,1) 34%, rgba(104, 184, 209,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(104, 184, 209,1) 34%, rgba(104, 184, 209,1) 100%);
        background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(104, 184, 209,1) 34%, rgba(104, 184, 209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#068b8d', GradientType=1 );
    }
}

.head_vigilantes > .head-cont-image{
    text-align: left;
}

.head_vigilantes > .head-cont-image > img{
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.head_vigilantes > .head-cont-text{
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px; 
    height: 100%;
}
.head_vigilantes .head-cont-text > p{
    text-align: right;
    color: var(--letras);
    font-size: var(--sizeP);
}

.head_anc-content {
    padding-top: 4px; 
    padding-top: 4px; 
}
.head_anc-content .title-general {
    color: white;
    vertical-align: middle;
    font-family: 'PT Sans';
    margin: 0;
    color:var(--color-main);
    letter-spacing:10px;
    font-weight: bolder;
}  
.head_anc-content .sub-title-general {
    color: white;
    display: block;
    vertical-align: middle;
    font-family: 'PT Sans';
}  

#nav-anc {
    background: var(--color-main);
    transition: 0.3s;
}

.link_anc {
    color: var(--letras) !important;
    text-transform: none;
    font-size: 1.01rem !important; 
}

.fondo_none {
    background: none !important;
}
.fondo_trans {
    background: rgba(255,255,255,.1);
}

#card-principal {
    margin-top: 30px;
}

#card-body-anc {
    background: var(--card-principal);
    color:white;
}

.text-general {
    color: white;
}   

#card-principal .card-footer {
    background: var(--card-principal);
}
#icon-down {
   color: var(--color-main); 
   font-size: 1.7rem;
}
.card-inicio > .inicio-header {
    background-image: url('/../images/cabecera_edit.png') !important;
    background-size: cover;
    background-color: white;
    color:rgb(23, 53, 113);
    font-size: var(--fs-14) !important;
}

.pertenecer {
    padding-top: 20px;
    background: rgb(79, 130, 186);
}
.cont-pertenecer {
     background-image: url('/../images/fondos/playa.jpg') !important;
     background-attachment: fixed;
     padding-bottom: 70px;
     padding-top: 20px;
     background-size: cover;
}

#other {
    margin-top: -40px;
    height: auto;
    background: rgb(79, 130, 186);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom:30px;
}
.cont-other {
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
}
.cont-icon-other {
    text-align: center;
    font-size: var(--fs-18 );
}
.other-info {
  padding: 30px;
  text-align: center;
  background-color: rgb(25, 55, 131);
}
.other-info > ul > li > a{
    color: white !important;
    text-decoration: none;
}
.other-info > ul {
    color: white !important;
    text-align: left;
}
.other-info > ul > li{
    color: white !important;
}
.cont-image-info{
  width: 100%;
  text-align: center;
}
.cont-image-info > img {
  width: 50%;
  margin: 0 auto;
}
.other-info > h3{
  text-align: center;
}
.header-post{
    width: 100%;
    color :white;
    background-color: rgb(22, 53, 113);
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-size: var(--s-sub-title);
}

/* ---------------------------------------
 footer
---------------------------------------- */
#enlaces{
  background-color: rgb(189, 189, 189);
}
.cont-enlaces {
  padding-left: 40px;
  padding-right: 40px;
  padding-top:10px;
  padding-bottom:10px;
}
#footer {
  background: rgb(79, 130, 186);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.footer {
    padding: 20px;
    background: var(--card-principal);
    color: white;
}

.footer-post{
    color :white;
    background-color: rgb(25, 55, 131);
    padding: 40px;
    text-align: center;
    font-size: var(--s-sub-title);
}

.footer-post p{
    padding: 0;
}

.cont-footer {

}

.cabecera-footer {
    height: 100%;
}

.cabecera-footer p{
    text-align: center;
}

.redes-sociales {
    text-align: center;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}
.enlace-footer-ext {
    color: rgba(255,255,255,.5);
}
.redes-sociales > a{
    color: white;
}

.footer-post .separador-footer {
    background-color: rgb(135, 138, 143);
}

.cont-icon-redes > .icon-item-redes {
    padding-top: 8px;
    padding-bottom:  8px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(79, 130, 186);
    display:  inline-block;  
    border-radius: 50%;  
}

.cont-icon-redes > .icon-item-redes > i{
    font-size: var(--s-parrafo);
}

.footer-post > .footer-frase {
    display: block;
    font-size: var(--fs-14);
    color: rgb(190, 192, 194);
    font-family: 'Pacifico';
    text-shadow: 1px 1px 3px rgba(154, 150, 150, 0.65);
    /*font-family: 'Bree Serif';*/
}

.cont-item:hover .icon-item {
    cursor: pointer;
    color:white;
}
.cont-item:hover .title-item {
    cursor: pointer;
}
.cont-item:hover .val-item {
    cursor: pointer;
    color:white;
}

.cont-item .icon-item {
    display: block;
    font-size: var(--fs-16);
    color:rgb(135, 138, 143);
}
.cont-item .title-item {
    letter-spacing: 3px;
    font-size: var(--s-sub-title) !important;
    padding: 4px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}
.cont-item .val-item {
    color:rgb(135, 138, 143);
    display: block;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}