{% extends "base_error.twig" %}
{% block title %} Inicio {% endblock %}
{% block head %}{{parent()}}
<link rel="stylesheet" type="text/css" href="./css/inicio.css?id={{random()}}"> 
{% set img = random(5)  %}
<style type="text/css">
	
</style>
{% endblock %}
{% block content %}
<div style="width:100%;text-align:center;">
	<h1 class="text-center">404</h1>
	<p class="text-center">Página no encontrada</p>
	<a class="text-center" href="{{INICIO}}">Volver al Inicio</a>
</div>
{% endblock %}

{% block postfooter %}

{% endblock %}


