<div class="head_vigilantes row" style="margin:0;">
	<div class="col-xs-12 col-md-6 head-cont-image">
		<img src="{{IMAGE}}logo/logo.png" alt="">
	</div>
	<div class="col-xs-12  col-md-6 head-cont-text">
		<p style="font-size:16px;">contacto@vigilantesdelagua.org.pe</p>   
	</div>
<div class="header-post">
		<div class="header-post-info1 d-flex pb-2">
            <div class="mr-auto align-self-center"> 
            		<span style="font-size:12px;"  style="align-items: center;justify-content: center;" class="font-weight-light">www.vigilantesdelgua.org.pe </span>
            </div>
            <div class="cont-icon-redes">
            	<span class="pr-4">Nuestras redes sociales:</span>
				<a class="icon-item-redes"><i class="icon-twitter-1"></i></a>
            	<a class="icon-item-redes"><i class="icon-blogger"></i></a>
				<a class="icon-item-redes"><i class="icon-facebook"></i></a>
            </div>
        </div>
        </div>
</div>

<nav id="nav-anc" class="navbar navbar-expand-lg navbar-dark">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto justify-content-end">
     	<!-- Active -->
      	<li class="nav-item"><a class="nav-link link_anc normal" href="#inicio">Inicio</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="nosotros" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ¿Quienes Somos? 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="nosotros/vision">Visión</a>
              <a class="dropdown-item" href="nosotros/mision">Mision</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="nosotros/objetivos">Objetivos</a>
            </div>
        </li>
		<li class="nav-item"><a class="nav-link link_anc normal" href="labor">¿Que Hacemos?</a></li>
		<li class="nav-item"><a class="nav-link link_anc normal" href="galeria">Galería</a></li>
		<li class="nav-item"><a class="nav-link link_anc normal" href="donaciones">Donaciones</a></li>
		<li class="nav-item"><a class="nav-link link_anc normal" href="contacto">Contáctenos</a></li>
    </ul>
  </div>
</nav>