<div class="row">
	<div class="col-md-12">
		<div class="card w-100 ">
			<!-- bg-primary  -->
			<div class=" row card-body text-white d-flex align-items-center">
				<div class="col-xs-6 col-md-3">
					<img style="width:100%;" src="{{IMAGE}}club-logo.png" alt="">
				</div>
			    <div style="color:rgb(24, 55, 114);text-align:center;" class="col-xs-6 col-md-8 ">
			    	<a class="btn btn-outline-info btn-lg btn-block" target="_blank" href="unete">Como pertenecer al Club Vigilantes del Agua.</a>
			    </div>
			</div>
		</div>
	</div>
</div>