<div class="card" style="width: 18rem;">
	<!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://cdn.pixabay.com/photo/2014/12/24/05/02/drops-of-water-578897__340.jpg" class="img-fluid" alt="">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->
  <div class="card-header">
    <h4 class="card-title" style="padding:0;margin:0;text-align:center;">EL AGUA</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Ciclo Hidrologico.</li>
    <li class="list-group-item">Cultura del Agua.</li>
    <li class="list-group-item">Huella hídrica</li>
  </ul>
</div> 
<div class="card" style="width: 18rem;"> 
	<iframe width="auto" height="320" src="https://www.youtube.com/embed/Ov3xLFb8Lw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h4 class="card-title" style="padding:0;margin:0;text-align:center;">ULTIMAS NOTICIAS</h4>
  </div>
  <div class="card-boby" style="padding:10px;">
	<p class="lead">| PPK: "No vamos a politizar el agua"</p>
	  El presidente de la República, Pedro Pablo Kuczynski, aseveró que sería gravísimo que, en este momento, se haga demagogia con el acceso a los servicios públicos de agua y saneamiento, e invocó a tomar decisiones responsables sobre la legislación de estos temas.
  </div>
</div> 